<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="margin:auto; width:70%; border:solid 2px black; padding:auto;text-align: center">
    <h1>result</h1>   
    <h3>Name:@ViewBag.userName</h3>
    <h3>Location:@ViewBag.userLocation</h3>
    <h3>Language:@ViewBag.userLanguage</h3>
    <h3>Comments:@ViewBag.userComment</h3>
    <a href="/">Go Back</a>
    </div>
</body>

</html>